
article {  
  padding-top: 10%;
  display: flex;
  flex-direction: row;
  gap: 254px;
  justify-content: center;
  align-items: center;  
}

.logo-grande {
  width: 293px;
  height: 304px;
}

section {
  background-color: #FFF;
  width: 547px;
  height: 767px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

section header {
  padding: 50px 73.5px;
  color: #222;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

section form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section footer {
  padding: 50px 73.5px;
  color: #272727;
  text-align: center;
}

section footer a {
  color: #105F74;
}

.formulario-campo {
  position: relative;
  padding-left: 400px;
  padding-bottom: 50px;
}

.formulario-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 50px;
  border: 1px solid #272727;
  border-radius: 6px;
  font-family: inherit;
  font-size: 1rem;
  color: #46494C;
  outline: none;
  padding: 0 16px;
}

.formulario-label {
  position: absolute;
  background-color: #FFF;
  top: -8px;
  left: 16px;
  padding: 0 4px;
  font-size: 0.75rem;
}

.formulario-exibir-senha {
  position: absolute;
  right: 15px;
  top: 12px;
}

.formulario-button {
  background-color: #105F74;
  width: 400px;
  height: 49px;
  border: 0;
  border-radius: 8px;
  font-family: inherit;
  font-size:  1rem;
  font-weight: bold;
  color: #FFF;
  outline: none;
}

.formulario-termos {  
  padding-bottom: 40px;
  left: 0%;
}

.formulario-termos a,
.formulario-termos a:visited {
  color: #105F74;
}

.formulario-registrar {
  color: #105F74;
  font-weight: bold;
  text-decoration: none;
}


@media (max-width: 360px) {
  .logo-grande {
    width: 80px;
    height: 83px;
  }

  article {
    flex-direction: column-reverse;
    gap: 100px;
  }

  section {
    width: 82%;
    border-radius: 18px;
  }

  .formulario-campo {
    padding-left: 251px;
  }

  .formulario-input {
    width: 100%;
  }
  
  .formulario-button {
    width: 201px;
  }
}
